---
import type { SiteMeta } from "@/data/siteMeta";
import BaseHead from "@/components/BaseHead";
import ThemeProvider from "@/components/ThemeProvider";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import { siteConfig } from "@/site-config";
import { ViewTransitions } from "astro:transitions";

interface Props {
  meta: SiteMeta;
}

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
    <ViewTransitions />
  </head>
  <body>
    <div class="min-h-screen w-full relative">
      <div
        class:list={[
          "absolute inset-0 z-0",
          "[background-image:linear-gradient(to_right,rgb(226_232_240/_20)_1px,transparent_1px),linear-gradient(to_bottom,rgb(226_232_240/_0.2)_1px,transparent_1px)]",
          "dark:[background-image:linear-gradient(to_right,rgb(51_65_85/_0.2)_1px,transparent_1px),linear-gradient(to_bottom,rgb(51_65_85/_0.2)_1px,transparent_1px)]",
          "[background-size:20px_30px]",
          "[mask-image:radial-gradient(ellipse_70%_60%_at_50%_0%,#000_60%,transparent_100%)]",
          "[-webkit-mask-image:radial-gradient(ellipse_70%_60%_at_50%_0%,#000_60%,transparent_100%)]",
        ]}
      >
      </div>
      <ThemeProvider />
      <SkipLink />
      <Header />
      <main id="main" class="relative">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
